[Unit]
Description=Armwrestling Bot $BRANCH
After=network.target

[Service]
User=$USER
WorkingDirectory=$WORKDIR
ExecStart=$PYTHON_VENV_PATH $WORKDIR/main.py --port=$PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
